# sudo nano /etc/systemd/system/tangerine-nest.service
#
# sudo cp /home/tangerine/tangerine-nest/infrastructure/tangerine-nest.service /etc/systemd/system
#
# sudo systemctl enable tangerine-nest
# sudo systemctl daemon-reload
# sudo systemctl start tangerine-nest
# sudo systemctl stop tangerine-nest
# sudo systemctl restart tangerine-nest
# 
#
# sudo journalctl -u tangerine-nest

[Unit]
Description=TangerineNest controller
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/tangerine/tangerine-nest
ExecStart=/usr/local/bin/node server.js
Restart=always

#User=root
#Group=group

[Install]
WantedBy=multi-user.target

# Setting up APP as a deamon https://stackoverflow.com/questions/4903570/how-does-one-start-a-node-js-server-as-a-daemon-process

